*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    color: black;
}
.heading{
   
    color: black;
    padding: 30px ;
    width: 100%;
   
    text-align: center;
    font-style: italic;
    
}
.heading img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    border-style: none;
    
}
.container{
    display: flex;
    justify-content: space-between; /* This will space out items to the left and right */
    align-items: center;
    margin: 0.1px;
    font-size: x-large;
    text-align: center;
}
.search{
    margin-left: auto;
    font-size: x-large;
    
}
button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}
button:hover{
    background-color: firebrick;
}

.search input[type="text"] {
    padding: 15px;
    font-size: 25px;
    width: 250px; 
    height: 45px;/* Width of the search bar */
}
nav ul{
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
    list-style: none;
    
}
nav ul li{
    margin: 15px;
}
nav ul li a{
    color:rgb(99, 161, 212);
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
img{
    width: 100%;
    border-style: solid;
    height: 500px;
    text-align: center;
}
.main-container{
    display: flex;
    justify-content:space-between;
    margin: 20px;
}
.Leftframe, .Centreframe, .Rightframe{
    width: 30%;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,01);
}
.Leftframe ul{
    list-style: none;
    
}
.Rightframe ul{
    
    list-style: none;
}
.Centreframe ul{
    list-style: none;
   
}
.Contact{
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 1000px;
    border-radius: 8px;
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
label{
    font-size: large;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}
input{
    text-align: center;
    height: 50px;
    width: 300px;
    
}
input textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 4px;
}
.Button{
    margin: 30px;
    width: 30%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    
}
Button:hover{
    background-color: #0056b3;
}